$base-colors-white: white;
$backdrop: rgba(0, 0, 0, 0.801);
$backdrop-2: rgba(0, 0, 0, 0.24);
$base-colors-blue-black: rgb(0, 0, 0);
$light_blue: #eef4f7;
$light_blue-hover: #d3ebf7;
$white: white;
$grey: rgb(206, 206, 206);
$dark-grey: #646464;
$text: #12354d;
$normal: #3498db;
$normal-hover: #2f89c5;
$ui-colors-border-color: #d3d3d3;
$ui-colors-border-color-hover: #b3b3b3;
$color: rgba(233, 230, 230, 0.199);
