.employee {
	padding: 0 20px;

	@include mq(lg) {
		width: calc(100% - 262px);
	}

	@include e(header) {
		margin-top: 20px;
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;

		button {
			background-color: #2989c0;
			color: white;
			border: none;
			padding: 8px 12px;
			cursor: pointer;
			border-radius: 4px;
			margin-right: 5px;
		}
	}

	@include e(form-change-password) {
		background-color: $white;
		width: 100%;
		padding: 20px;
		border: 1px solid #ddd;
		border-radius: 10px;
		margin: 10px;

		@include mq(md) {
			width: 50%;
		}
	}

	@include e(details) {
		padding: 20px;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-radius: 8px;

		table {
			width: 100%;
			border-collapse: collapse;
			margin-top: 20px;
		}

		th,
		td {
			padding: 12px;
			text-align: center;
			border-bottom: 1px solid #ddd;
		}

		th {
			background-color: #278ceb;
			color: white;
		}

		button {
			background-color: #2989c0;
			color: white;
			border: none;
			padding: 8px 12px;
			cursor: pointer;
			border-radius: 4px;

			@include mq(lg) {
				margin-bottom: 0;
			}
		}

		button:hover {
			background-color: #1d6f9e;
		}
	}

	@include e(form) {
		display: grid;
		gap: 10px;

		@include mq(md) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@include e(form-item) {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include mq(md) {
			padding: 10px;
		}

		input {
			width: 100%;
			padding: 8px 12px;
			border-radius: 4px;
			border: 1px solid #ddd;
			outline: none;
		}

		textarea {
			width: 100%;
			padding: 8px 12px;
			border-radius: 4px;
			border: 1px solid #ddd;
			outline: none;
			height: 130px;
		}

		label {
			color: grey;
		}

		@include m(group) {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
	}
	@include e(form-group) {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	@include e(form-add) {
		width: 100%;
		padding: 0 10px;
		display: flex;

		button {
			background-color: #2989c0;
			color: white;
			border: none;
			padding: 8px 50px;
			cursor: pointer;
			border-radius: 4px;
			margin-top: 10px;

			@include mq(md) {
				margin-top: 0;
			}
		}
	}

	@include e(form-documents) {
		border: 1px solid #ddd;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 20px;
		margin-top: 20px;
		padding-bottom: 80px;

		@include mq(md) {
			margin: 10px;
		}
	}

	@include e(form-selected-documents) {
		display: flex;
		flex-direction: column;
		gap: 20px;
		border: 1px solid #ddd;
		margin-top: 20px;
		padding: 20px;
		border-radius: 10px;

		@include mq(md) {
			margin: 10px;
		}
	}
}

.dropzone {
	cursor: pointer;
}

.dropdown-preview {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 20px;
	gap: 10px;
}

.dropdown-upload {
	padding: 10px 40px;
	background-color: #278ceb;
	border-radius: 10px;
	color: white;
	margin-top: 20px;
	width: 100%;
	cursor: pointer;
}

.select {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}

.button-group {
	display: flex;
	justify-content: center;
	gap: 5px;
	flex-wrap: wrap;
}

.custom-date {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #ddd;
}

.search-btn {
	width: 100%;
	text-align: left;
	background-color: white !important;
	color: $text !important;
	border: 1px solid #ddd !important;
}
