.btn {
	border-radius: 24px;
	background: #3498db;
	padding: 14px 0;
	color: white;

	&:hover {
		background-color: #1f5b83;
		color: white;
	}
}

option {
	font-size: 20px;
}

.S9gUrf-YoZ4jf {
	display: flex;
	justify-content: center;
}

.action-btn {
	background-color: #2989c0;
	color: white;
	border: none;
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 4px;
	margin-right: 5px;
	width: 100%;
}

body {
	background-color: $light_blue;
}

.menu {
	position: fixed;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 50%;
	bottom: 10px;
	z-index: 500;
	left: 20px;
	color: grey;
}
