.header {
	background-color: white;
	position: sticky;
	top: 0;
	height: 66px;
	display: flex;
	align-items: center;
	z-index: 100;
	@include e(title) {
		font-size: 24px;

		@include mq(md) {
			font-size: 36px;
		}
	}
	@include e(contain) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@include e(nav) {
	}

	@include e(nav-list) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		position: relative;
	}

	@include e(nav-item) {
		display: flex;
		align-items: center;
		position: relative;
		@include m(profile) {
			display: flex;
			gap: 10px;
			align-items: center;
			cursor: pointer;
			color: gray;
		}
	}

	@include e(nav-popup) {
		position: absolute;
		background-color: $white;
		top: 56px;
		width: 250px;
		left: -126px;
		display: flex;
		flex-direction: column;
		height: fit-content;
		box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.123);
		border-radius: 10px;
		display: none;

		button,
		a {
			padding: 10px 20px;
			display: flex;
			align-items: center;
			justify-content: start;
			gap: 10px;
			border-radius: 10px;
			width: 100%;

			&:hover {
				background-color: $grey;
				color: white;
			}
		}

		@include m(open) {
			display: block;
		}
	}

	@include e(profile-logo) {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto 0;
		border: 1px solid grey;
		border-radius: 50%;
		color: white;
		background: grey;
	}
}

.password-input {
	position: relative;
}

.password-input button {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
	border: none;
	background: none;
	font-size: 14px;
	color: #3498db;
}
