.nav {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: $white;
	position: absolute;
	height: 100%;
	z-index: 1000;
	width: 0%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.5s;

	@include m(open) {
		width: 100%;
		overflow: auto;
		opacity: 1;
		transition: all 0.5s;
	}

	@include mq(lg) {
		position: sticky;
		bottom: 0;
		height: fit-content;
		min-height: calc(100vh - 66px);
		top: 66px;
		z-index: 10;
		width: 310px;
		overflow: auto;
		opacity: 1;
	}

	@include e(header) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: grey;
	}

	@include e(title) {
		color: gray;
		font-size: 20px;
	}

	@include e(list) {
		display: flex;
		flex-direction: column;
	}

	@include e(element) {
		cursor: pointer;

		@include m(open) {
			.arrow {
				transform: rotate(180deg);
			}
		}

		span {
			color: grey;
			font-size: 18px;
		}
	}

	@include e(sub-list) {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows 0.2s ease-in;
		margin-left: 10px;

		span {
			color: grey;
			font-size: 18px;
		}

		@include m(open) {
			grid-template-rows: 1fr;
			transition: grid-template-rows 0.3s ease-out;
		}
	}

	@include e(sub-list-1) {
		overflow: hidden;
	}

	@include e(sub-list-2) {
		overflow: hidden;
	}

	@include e(sub-element) {
		display: flex;
		padding-top: 20px;
		gap: 20px;
		align-items: center;
	}
}
