.not-found {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;

	a {
		padding: 10px 20px;
		background-color: #2989c0;
		color: white;
		font-weight: bold;
		border-radius: 10px;
	}
}
