.pro-popover-content {
	position: fixed;
	z-index: 1000;
	background-color: #fff;
	border: 1px solid $ui-colors-border-color;
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	padding: 10px;
	font-size: 14px;
	line-height: 1.5;
	max-height: 200px;
	width: 300px;
	overflow: hidden;
	overflow-y: auto;
	div {
		cursor: pointer;
		width: 300px !important;
		&:hover {
			background-color: $light_blue;
		}
	}
}

.pro-popover-content.has-arrow:before {
	content: "";
	position: absolute;
	height: 0.8rem;
	width: 0.8rem;
	background-color: inherit;
	transform: translate(-50%, -50%) rotate(45deg);
	z-index: -1;
}

.popover-top.has-arrow:before {
	bottom: -0.8rem;
	left: 50%;
	border-bottom: 1px solid $ui-colors-border-color;
	border-right: 1px solid $ui-colors-border-color;
}

.popover-topRight.has-arrow:before {
	bottom: -0.8rem;
	right: min(16px, 10%);
	border-bottom: 1px solid $ui-colors-border-color;
	border-right: 1px solid $ui-colors-border-color;
}

.popover-topLeft.has-arrow:before {
	bottom: -0.8rem;
	left: min(28.5px, 10%);
	border-bottom: 1px solid $ui-colors-border-color;
	border-right: 1px solid $ui-colors-border-color;
}

.popover-right.has-arrow:before {
	left: 0;
	top: 50%;
	border-left: 1px solid $ui-colors-border-color;
	border-bottom: 1px solid $ui-colors-border-color;
}

.popover-rightTop.has-arrow:before {
	left: 0;
	top: min(16px, 50%);
	border-left: 1px solid $ui-colors-border-color;
	border-bottom: 1px solid $ui-colors-border-color;
}

.popover-rightBottom.has-arrow:before {
	left: 0;
	bottom: min(16px, 10%);
	border-left: 1px solid $ui-colors-border-color;
	border-bottom: 1px solid $ui-colors-border-color;
}

.popover-bottom.has-arrow:before {
	top: 0;
	left: 50%;
	border-top: 1px solid $ui-colors-border-color;
	border-left: 1px solid $ui-colors-border-color;
}

.popover-bottomRight.has-arrow:before {
	top: 0;
	right: min(16px, 10%);
	border-top: 1px solid $ui-colors-border-color;
	border-left: 1px solid $ui-colors-border-color;
}

.popover-bottomLeft.has-arrow:before {
	top: 0;
	left: min(28.5px, 10%);
	border-top: 1px solid $ui-colors-border-color;
	border-left: 1px solid $ui-colors-border-color;
}

.popover-left.has-arrow:before {
	right: -0.8rem;
	top: 50%;
	border-top: 1px solid $ui-colors-border-color;
	border-right: 1px solid $ui-colors-border-color;
}

.popover-leftTop.has-arrow:before {
	right: -0.8rem;
	top: min(16px, 50%);
	border-top: 1px solid $ui-colors-border-color;
	border-right: 1px solid $ui-colors-border-color;
}

.popover-leftBottom.has-arrow:before {
	right: -0.8rem;
	bottom: min(16px, 10%);
	border-top: 1px solid $ui-colors-border-color;
	border-right: 1px solid $ui-colors-border-color;
}

.pro-popover-content {
	visibility: hidden;

	&.ready {
		visibility: visible;
	}
	&.pro-dropdown {
		padding: 0;
	}

	input {
		padding: 10px;
		border: 1px solid $ui-colors-border-color;
		border-radius: 4px;
		box-sizing: border-box;
		margin: 10px;
		// position: sticky;
		top: 10px;
		width: 260px;
		font-size: 16px;

		&:focus {
			outline: none;
		}
	}
	div {
		font-size: 16px;

		&::first-letter {
			text-transform: capitalize;
		}
	}
}
